.table-bordered th,
.table-bordered td {
  border: none;
}

.no-react-bootstrap-table-pagination {
  display: flex;
  width: 100%;
  height: auto;
  flex-wrap: wrap;

  .react-bootstrap-table-pagination {
    display: none;
  }
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f8f9fa;
}

.table-striped tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.table-striped tbody tr {
  &:hover {
    background-color: #e7e7e7;
  }
}

.table-bordered {
  border: none !important;
}

@media (min-width: 1200px) {
  .modal-xl {
    max-width: 1140px;
  }
}

@media (min-width: 992px) {
  .modal-lg {
    max-width: 800px;
  }
}

td.selection-cell {
  padding: 0 !important;
}

td.first-td {
  padding: 0.75rem !important;
}

.table-status {
  width: 25px;
  height: 25px;
  max-width: 25px;
  display: flex;
  background: #000;
  border-radius: 100%;
  text-align: center;
  color: #fff;
  align-items: center;
  justify-content: center;
  font-size: 8pt;
  font-weight: bold;
}

td.btn-group {
  padding: 0 !important;
  .drop-down-btn-group {
    display: flex;
    position: relative;

    &:hover {
      ul.table-btn-group {
        display: flex;
      }
    }

    .dd-btn {
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border: none;
      background: transparent;

      span {
        padding: 15px;
        background: #efefef;
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    ul.table-btn-group {
      position: absolute;
      display: none;
      width: 90px;
      flex-wrap: wrap;
      left: 25px;
      z-index: 100;
      background: #182b55;
      bottom: 20px;
      border-radius: 0;
      border: none;
      overflow: hidden;
      padding: 5px;
      border-radius: 15px;
      box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.09);

      li {
        width: auto;
        justify-content: flex-start;
        align-items: flex-start;
        border: none;
        min-height: inherit;
        margin: 0;
        padding: 1px;

        button {
          margin: 0;
          padding: 0;
          width: 38px;
          height: 38px;
          background: #182b55;
          color: #ffffff;
          position: relative;
          border: none;
          border-radius: 5px;

          i {
            width: 100%;
            height: 100%;
            color: #fff;
            background: transparent;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 100%;
            padding: 0;
          }
        }

        &:hover,
        &.active {
          button {
            color: #000;
            i {
              background: #274076;
            }
          }
        }

        &:focus {
          * {
            text-decoration: none;
          }
        }
      }
    }
  }
}

ul.table-btn-group {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

    span {
      display: flex;
      font-size: 2em;
      padding: 5px;
      color: #e7e7e7;
    }

    button {
      margin: 0;
      padding: 0;
      width: 45px;
      height: 50px;
      background: #3a4a6c;
      border-radius: 0;

      &:hover {
        background: #182b55;
      }

      i {
        color: #fff;
      }
    }
  }
}

.filter-contents {
  width: 100%;
  height: auto;
  background: #f5f5f5;
  padding: 0.5rem 1rem;
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 5px;
  position: relative;
  z-index: 1000;

  .form {
    position: absolute;
    width: 275px;
    background: #fbfbfb;
    left: 5px;
    top: 27px;
    border: 1px solid #e5e5e5;
    display: none;

    .react-form {
      width: 100%;
      position: relative;

      &::after,
      &::before {
        position: absolute;
        display: block;
        content: "";
        border-color: transparent;
        border-style: solid;
        top: -11px;
        left: 3px;
        border-bottom-color: rgb(255, 255, 255);
        border-width: 0 0.7rem 0.7rem 0.7rem;
      }

      &::before {
        top: -12px;
        border-bottom-color: rgb(215 215 215);
      }

      form {
        & > * {
          flex: 1 1 100%;
          width: 100%;
          max-width: 100%;
        }
      }
    }
  }

  b {
    font-size: 10pt;
    padding-right: 5px;
    flex: 0 0 auto;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex: 1 1 100%;
    display: flex;
    flex-wrap: wrap;

    li {
      padding: 0 5px;
      position: relative;
      display: flex;
      flex-wrap: nowrap;
      width: auto;
      height: 20px;
      margin-bottom: 5px;

      & > .form-open {
        display: flex;
      }

      .content {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        padding-right: 25px;
        background: #182b55;

        section {
          width: auto;
          display: flex;
          align-items: flex-end;

          span {
            font-size: 7pt;
            font-weight: bold;
            padding: 0 3px;
            color: #b5b8c3;
          }

          i {
            font-size: 9pt;
            color: #ffffff;
            font-style: normal;
          }
        }
      }

      button.remove {
        position: absolute;
        right: 0;
        top: 0;
      }

      & > button {
        line-height: 0;
        background: #182b55;
        border: none;
        padding: 0 5px;
        margin: 0 5px;
        cursor: pointer;
        font-size: 9pt;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        color: #fff;

        &.active {
          background: #1562ff;
          color: #fff;
        }
      }

      &:hover {
        button.add {
          &.active,
          &:hover {
            background: #1562ff;
            color: #fff;
          }
        }
      }
    }
  }
}

.react-data-table-elements {
  .react-bootstrap-table {
    overflow: auto;
    padding-top: 15px;
    table {
      margin: 0;
      thead {
        th {
          &.sortable {
            span {
              margin-left: 5px;
              &.order {
                &:before {
                  /*content: "\2195";*/
                  font-family: "Font Awesome 5 free";
                  content: "\f30c";
                }
              }
              &.react-bootstrap-table-sort-order {
                &:before {
                  font-family: "Font Awesome 5 free";
                  content: "\f309";
                }
                &.dropup {
                  &::before {
                    font-family: "Font Awesome 5 free";
                    content: "\f30c";
                  }
                }
              }
            }
          }
        }
      }
      tbody {
        tr {
          td {
            height: 55px;
            white-space: nowrap;
            padding-right: 45px;
          }
        }
      }
    }
  }

  .react-bootstrap-table-pagination {
    padding-top: 30px;
  }
}

.dark-theme {
  .react-data-table-elements {
    background: #111;
    border-top: 1px solid #3c3c3c;
    .table-title {
      font-size: 13pt;
      color: #fff;
      position: relative;
      top: 5px;
    }
    .table {
      tbody {
        color: #d6d6d6;
      }
    }
    .table-bordered {
      border: none;
    }
    .table > tbody > tr > td {
      border: none;
    }
    .table > thead > tr > th {
      border: none;
    }
    .d-search-index .refresh {
      padding: 0;
      margin: 0;
      height: 50px;
      width: 40px;
      border: none;
      border-radius: 0;
      box-shadow: none;
      border-bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    section.bootstrap-table .search-label input.form-control {
      border-radius: 0;
      border: none;
      background: #191919;
      height: 35px;
      color: #fff;
    }
    .table-striped tbody tr:nth-of-type(odd) {
      background: #191919 !important;
    }
    .table-striped tbody tr:nth-of-type(even) {
      background: #111 !important;
    }
    .table-hover tbody tr:hover {
      background: #676767 !important;
    }
    .action-group .btn {
      flex: 0 0 auto;
      border-radius: 0;
      border: none;
      margin-right: 0;
      background: #182b55;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 32px;
    }
    .action-group .btn.column-select.in-passive {
      background: #333333;
      border: 1px solid #4c4c4c;
    }
    .action-group .btn.column-select.in-passive:hover,
    .action-group .btn.column-select.in-active {
      background: #535353;
    }
    .action-group .btn-group .btn-group-dropdown {
      position: absolute;
      width: 224px;
      padding: 0;
      display: flex;
      flex-direction: column;
      background: #333333;
      border: 1px solid #535353;
      top: 37px;
      left: 1px;
      color: #fff;
      z-index: 100;
    }
    .action-group .btn-group .btn-group-dropdown .btn:hover {
      color: #fff;
    }
    #pageDropDown {
      background: #333;
      border: 1px solid #5d5d5d;
      color: #fff;
      border-radius: 0;
    }
    section.bootstrap-table .pagination li.page-item.active a,
    section.bootstrap-table .pagination li.page-item:hover a {
      background: #333333 !important;
      color: #fff;
    }
    section.bootstrap-table .pagination li.page-item a.page-link {
      border: 1px solid #4d4d4d;
      padding: 0.5rem 1rem;
      border-radius: 0;
      background: #111;
      color: #fff;
    }
    .react-bootstrap-table-pagination .dropdown-menu {
      background: #333333;
      border: 1px solid #535353;
      color: #fff;
      a {
        color: #fff;
      }
    }
    .react-bootstrap-table-pagination .dropdown-menu .dropdown-item:hover {
      background: #5d5d5d;
    }
  }
}

.btn.btn-secondary.btn-success {
  color: #fff;
  background-color: #2e59b1;
  border-color: transparent;
  border-radius: 0;
}

.btn.btn-secondary.btn-info {
  color: #fff;
  background-color: #0082ca;
  border-color: transparent;
  border-radius: 0;
}

.react-data-table-elements {
  background: #fff;
  .btn-grp-wa {
    position: relative;
    z-index: 100000000;
  }
  .react-bootstrap-table {
    position: relative;
    z-index: 10;
  }
  &.layout {
    .table {
      table-layout: inherit;
    }
  }
  &.fixed {
    .table {
      table-layout: fixed;
    }
    .table > tbody > tr > td {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .special-query {
    width: 100%;
    min-height: 0;
    height: 0;
    background: #f4f4f4;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    overflow: hidden;
    display: flex;
    padding: 5px;
    margin-bottom: 3px;
    position: relative;
    z-index: 10;

    .submit-button {
      position: absolute;
      right: 0;
      bottom: 0;
      height: 100%;
      display: flex;

      button {
        background: transparent;
        border: none;
        border-radius: 0;
        box-shadow: 0px 0px 2px 0px rgb(0 0 0 / 15%);
        background: #1564fe;

        &:hover {
          background: #0b49c5;
          color: #fff;
        }
      }
    }

    form {
      width: 100%;
      height: auto;
      margin: 0;
      padding: 0;
      display: block;
      margin: 0;
      padding: 0;
    }

    .number {
      color: #03a9f4;
    }

    .string {
      color: #ff9800;
    }

    .boolean {
      color: #4caf50;
    }

    .date {
      color: rgb(33, 136, 139);
    }

    /*.bg-number {
      color: #fff;
      background: #03a9f4;
    }

    .bg-string {
      color: #fff;
      background: #ff9800;
    }

    .bg-boolean {
      color: #fff;
      background: #4caf50;
    }*/

    &.show {
      min-height: 40px;
      height: auto;
      overflow: inherit;
    }

    &.hide {
      min-height: 0;
    }

    .form-handler-query-event {
      display: flex;
      width: 100%;
      height: auto;
      position: relative;
      padding-right: 50px;

      .title {
        background: transparent;
        color: #575757;
        font-size: 10pt;
        margin: 0;
        line-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        cursor: pointer;
        margin-right: 10px;
        position: relative;

        h4 {
          font-size: 10pt;
          margin: 0;
          padding: 0;
        }

        .query {
          position: absolute;
          width: 250px;
          height: auto;
          top: 0;
          left: 0;
          background: #fff;
          z-index: 10;
          display: none;
          padding: 5px 15px;
          box-shadow: 11px 8px 11px -6px rgba(0, 0, 0, 0.45);
          overflow: auto;
          padding-top: 20px;
          border: 1px solid #e2e2e2;

          b {
            margin-right: 15px;
          }

          .el {
            padding: 5px;
            border-bottom: 1px solid rgb(221, 221, 221);
          }
        }

        &:hover {
          .query {
            display: block;
          }
        }
      }

      .event-list {
        width: 100%;
      }

      .event {
        width: 100%;
        margin-bottom: 2.5px;
        margin-top: 2.5px;

        .col-min-select {
          max-width: 180px;
        }

        input,
        .btn,
        select {
          height: 30px;
          border: none;
          border-radius: 0;
          margin: 0;
          font-family: "Open Sans", sans-serif;
        }

        .btn {
          background: transparent;
          color: #b1b1b1;
          font-size: 7pt;
          margin: 0;
          border: none;
          border-radius: 0;
          padding: 0;
          width: 35px;
          height: 30px;
          box-shadow: 0px 0px 4px 0px #dcdcdc;

          &:hover {
            box-shadow: 0px 0px 6px 0px #a5a5a5;
          }
        }

        label {
          margin: 0;
          padding: 0;
        }

        .query-index {
          display: flex;
          align-items: center;
          width: 100%;
          position: relative;

          label {
            background: #1564fe;
            padding: 5px 20px 5px 7px;
            height: 30px;
            color: #ffffff;
            font-size: 9pt;
            font-weight: lighter;
            display: flex;
            align-items: center;
          }

          .query-select,
          .query-input,
          .query-extend-select {
            background: #eaeaea;
            color: #111;
            padding: 5px;
            border: 1px solid #e8e8e8;
            font-size: 9pt;

            &:focus {
              border: 1px solid #dedede;
              border-color: #dedede !important;
            }
          }

          .query-extend-select {
            position: absolute;
            max-width: 74px;
            right: 0;
            background: #182b55;
            color: #fff;
            font-size: 8pt;
          }
        }
      }
    }
  }
  .react-bootstrap-table-pagination {
    span.react-bootstrap-table-pagination-total {
      margin-left: 10px;
      color: #a9a9a9;
    }

    .dropdown-menu {
      margin: 0 !important;
      padding: 0 !important;
      .dropdown-item {
        display: flex;
        margin: 0 !important;
        padding: 0 !important;

        a {
          display: flex;
          flex: 1 1 100%;
          padding: 5px;
        }

        &:hover {
          background: #274076;
          a {
            color: #fff;
            text-decoration: none;
          }
        }
      }
    }
  }
  .btn-warn {
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 7px;
    border-radius: 15px;
    width: auto;
    height: 30px;
    background: #1564fe;
    border: none;
    padding: 0 30px 0 15px;
  }
  .d-search-index {
    .refresh {
      padding: 0;
      margin: 0;
      height: 50px;
      width: 40px;
      border: none;
      border-radius: 0;
      box-shadow: none;
      border-bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .i-left {
      padding-right: 15px;
    }
    .i-right {
      padding-left: 0;
      position: relative;
      max-width: 30%;
      display: flex;
      margin-bottom: 15px;

      @media (max-width: 990px) {
        min-width: 100%;
        left: 15px;
      }

      #dashboard.search-text {
        width: 100%;
        height: 45px;
        border-radius: 0;
        padding: 5px 0 0 45px !important;
        border: 1px solid #ebebeb;
        color: #919191;
        background: #f7f7f7;
      }

      button {
        background: #fff;
      }

      .search-text {
        width: 100%;
        height: 45px;
        border-radius: 0;
        padding: 5px;
        border: 1px solid #ebebeb;
        color: #919191;
        background: #f7f7f7;
        padding-left: 45px;
      }

      .search-select {
        position: absolute;
        width: 125px;
        height: 45px;
        right: -112px;
        border: none;
        color: #747474;
        background: #f7f7f7;
        padding: 7px;

        &:disabled {
          background: #f1f1f1 !important;
          color: #8d8d8d !important;
        }

        &:hover {
          color: #2e2e2e;
        }
      }

      button.search-button-close {
        position: absolute;
        width: 35px;
        height: 45px;
        right: 15px;
        margin: 0;
        padding: 0;
        border: 1px solid #ebebeb;
        color: #a9a9a9;
        background: transparent;

        &:disabled {
          background: #f1f1f1 !important;
          color: #8d8d8d !important;
        }

        &:hover {
          color: #2e2e2e;
        }
      }

      button.search-button {
        position: absolute;
        left: -10px;
        width: 45px;
        height: 45px;
        margin: 0;
        padding: 0;
        border: 1px solid #ebebeb;
        color: #a3a3a3;
        background: #fff;
        border-radius: 10px;

        &:disabled {
          background: #f1f1f1 !important;
          color: #8d8d8d !important;
        }

        &:hover {
          color: #2e2e2e;
        }
      }
    }
  }
  .modal-content {
    .modal-header {
      background-color: #0082ca !important;
      color: #fff !important;
      font-size: rem;
      font-weight: 400;
      border-bottom: 2px solid #cddc29;
      border-radius: 0;
      display: flex;
      align-items: center;
    }
  }

  .react-bootstrap-table table {
    table-layout: fixed;
  }
}

.search-bar-passive {
  display: none !important;
}

.react-data-table-elements {
  transition: margin-left 0.2s cubic-bezier(0.35, 0, 0.25, 1);
  padding: 0;
}

section.bootstrap-table {
  padding: 15px;
  position: relative;
  box-shadow: none;
  height: auto;
  border-radius: 0;
  background: #fff;
  border: none;

  .pagination {
    justify-content: flex-end;
  }

  th.selection-cell-header {
    width: 50px;
    text-align: center;
  }

  td.selection-cell {
    width: 50px;
    text-align: center;
    vertical-align: middle;
    height: 50px;
  }

  .pagination {
    li.page-item {
      a.page-link {
        border: 1px solid #eaeaea;
        padding: 0.5rem 1rem;
        color: inherit;
        border-radius: 0;
      }

      &:focus {
        outline: none !important;
        box-shadow: 0 !important;
      }
      &.active,
      &:hover {
        a {
          background: #274076 !important;
          color: #fff;
        }
      }
    }
  }
  .search-label {
    width: 100%;

    input.form-control {
      border-radius: 0;
      border-bottom: 1px solid transparent;

      &:focus {
        border-color: #274076 !important;
      }
    }
  }
}

.action-group {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 15px;
  align-items: flex-start;
  position: relative;
  z-index: 1000;

  &.btn-list {
    margin: 0;
    .btn {
      border: none;
      padding: 7px;
      border-radius: 0;
      height: auto;
      background: #182b55;
      i {
        margin: 0;
        font-size: 7.5pt;
        background: #182b55;
        color: white;
        width: 20px;
        height: 20px;
        border-radius: 0;
      }

      &:hover,
      &:focus {
        background: #274076;

        i {
          background: #274076;
        }
      }
    }
  }

  &.footer {
    margin-top: 50px;
  }

  .btn-group {
    .btn-group-dropdown {
      position: absolute;
      width: 224px;
      padding: 0;
      display: flex;
      flex-direction: column;
      background: #ffffff;
      border: 1px solid #ddd;
      top: 37px;
      left: 1px;
      color: #fff;
      z-index: 100;

      .btn {
        background: transparent;
        color: #999ca8;
        justify-content: flex-start;
        border: none;

        &:hover {
          color: #111;
        }

        &:focus {
          box-shadow: none !important;
        }

        .selected-span {
          width: 15px;
          height: 15px;
          border: 1px solid #d8d8d8;
          margin-right: 10px;
          background: #ffffff;
          position: relative;

          &.active {
            background: #1564ff !important;
            border-color: transparent;
            &::before {
              position: absolute;
              content: "✔";
              font-size: 7pt;
              top: 0px;
              left: 3px;
              color: #fff;
            }
          }
        }
      }
    }
  }

  .btn {
    flex: 0 0 auto;
    border-radius: 0;
    border: none;
    margin-right: 0;
    background: #182b55;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;

    &.active {
      background: #274076;
    }

    &.no-background {
      background: transparent;
      border-color: transparent;

      i {
        margin: 0;
        font-size: 10pt;
      }
    }

    &.column-select {
      &.in-active {
        background: #274076;
      }
      &.in-passive {
        background: #182b55;

        &:hover {
          background: #274076;
        }
      }
    }

    &.column-select {
      position: relative;
      i {
        margin-right: 0;
        margin-left: 7px;
        color: #fff;
        background: transparent;
      }

      span {
        font-size: 9pt;
      }
    }

    i {
      margin-right: 7px;
      font-size: 7pt;
      color: #182b55;
      background: #fff;
      padding: 5px;
      border-radius: 50%;
      width: 20px;
      height: 20px;
    }

    span {
      font-size: 9pt;
    }

    &:hover,
    &:focus {
      background: #274076;
      box-shadow: none !important;
    }

    &.btn-transparent {
      background: transparent;
      border: none;
      padding: 2px;

      &.in-f-active {
        i {
          background: transparent;
          color: #274076;
        }
      }

      &.in-fl-active {
        i {
          background: transparent;
          color: #1562ff !important;
        }
      }

      &.in-fl-passive {
        i {
          background: transparent;
          color: #274076 !important;
        }
      }

      i {
        color: #182b55;
        background: transparent;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15pt;
      }
    }
  }
}

.react-bs-table-sizePerPage-dropdown ul {
  min-width: 0;
  width: 80px;
}

.react-bs-table-sizePerPage-dropdown ul li {
  padding-top: 0px !important;
  padding-right: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
}

.react-bs-table-sizePerPage-dropdown ul li button {
  display: block;
  width: 80px;
  text-align: left;
  padding-top: 2px !important;
  padding-right: 0px !important;
  padding-bottom: 2px !important;
  padding-left: 10px !important;
  margin-top: 2px !important;
  margin-right: 5px !important;
  margin-bottom: 2px !important;
  margin-left: 0px !important;
}

.react-bs-table-sizePerPage-dropdown ul li a:active {
  color: white !important;
}

.filter-button {
  &:hover {
    color: #000;
  }
  &:active {
    color: #ababab;
  }
  margin: 1px;
  padding: 1px;
}

.table > tbody > tr > td {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.search-label {
  margin-bottom: 0rem;
}

table.no-card {
  thead > tr:first-child {
    td,
    th {
      border-top: 0;
    }
  }
}
