$border: #efefef;
$table-cell-height: 30px;
$link: #3b97ff;

.hide {
  display: none;
}

table {
  border-radius: 5px;
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: #f7f7f7;
}

th {
  padding: 10px;
  text-align: left;
  border: none;
}

tbody tr {
  height: 45.5px;
}

td {
  padding: 10px;
}

.table-cell-loader {
  padding: 0;
}

.table {
  &__loading {
    width: 100%;
  }
}

.table__icon {
  color: $link;
  font-size: 18px;
}

.table > tbody > tr > td {
  vertical-align: middle;
  text-wrap: nowrap;
}

.table-controls {
  width: 100%;
  overflow: scroll hidden;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.2)
}

@keyframes placeHolderShimmer {
  0% {
    background: #ececec;
  }

  30% {
    background: #f7f7f7;
  }

  50% {
    background: #ececec;
  }

  80% {
    background: #f7f7f7;
  }

  100% {
    background: #ececec;
  }
}

.loading-animation {
  animation: placeHolderShimmer 3s infinite;
}

.mask {
  background: #fff;
  position: absolute;
  height: 10px;
}

.mask {
  &--b-b {
    top: 0;
    width: 100%;
    height: 1px;
    right: 0;
    background: $border;
  }

  &--t {
    height: 10px;
    width: 100%;
  }

  &--b {
    height: 10px;
    width: 100%;
    bottom: 0;
  }

  &--r {
    height: $table-cell-height;
    width: 10px;
    right: 0;
  }

  &--l {
    height: $table-cell-height;
    width: 10px;
    left: 0;
  }

  &--sep-1 {
    width: 20px;
    right: 340px;
    height: $table-cell-height;
  }

  &--sep-2 {
    width: 20px;
    right: 185px;
    height: $table-cell-height;
  }

  &--sep-3 {
    width: 20px;
    right: 73px;
    height: $table-cell-height;
  }

  //   &--b-1 {
  //     width: 1px;
  //     left: 121px;
  //     height: $table-cell-height;
  //     background: $border;
  //   }

  //   &--b-2 {
  //     width: 1px;
  //     right: 194px;
  //     height: $table-cell-height;
  //     background: $border;
  //   }

  //   &--b-3 {
  //     width: 1px;
  //     right: 83px;
  //     height: $table-cell-height;
  //     background: $border;
  //   }
}

.u-pd-y--md {
  padding: 25px 0 25px;
}

.u-pd--xs {
  padding: 5px;
}

.u-pd--sm {
  padding: 10px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $border;
  padding: 0;
}

.icon-container {
  border-left: 1px solid $border;
}

@media only screen and (min-width: 768px) {
  .u-hide-small--flex {
    display: flex;
    height: 21px;
  }
}

.u-show-large-only--flex {
  display: none;
}

@media only screen and (min-width: 960px) {
  .u-show-large-only--flex {
    display: flex;
    height: 21px;
  }
}

.card-forms {
  width: 100%;
  height: auto;

  @media screen and (max-width: 960px) {
    form {
      flex-wrap: wrap;
      label {
        flex: 1 1 100%;
        min-width: 100%;
      }
    }
  }
}

.button-group {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  max-height: 511.25px;
  overflow-y: auto;
  align-content: baseline;

  .btn {
    margin: 1px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 960px) {
      width: 15%;
      height: 15%;
    }
  }
}
