.card-bottom {
  padding: 0 15px;

  .card-body {
    background: #f3f3f3;
    border: 15px solid #fff;
    border-radius: 30px;
  }
}

.img-bottom-button-group {
  .btn {
    margin: 0;
    padding: 7px;
    display: inline-flex;
    border-radius: 0;
    height: 35px;
  }
}
